body{
	background-color: lightgray;
}

.container{
/*     border: 1px solid blue; */
    padding: 5px;
    margin-top: 20px;
    /* margin-right: 5%; */
}

.row {
    /* border-style: solid; */
    /* border-color:purple; */
    /* background-color: white; */
    /* padding: 5px; */
    /* margin: 10px; */
}

/* .col{
    border-style: solid;
    border-color: green;
} */


.col-lg-8 {
    border 1px solid yellow;
    /* background-color: white; */
}

.col-lg-4 {
    /* background-color: white; */
    border 1px solid pink;
    /* margin-left: 2%; */
}



article{
	background-color: white;
    margin-top: 15px;
    padding-right: 30px;
    /* border-style: solid; */
    /* border-color: tomato; */
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 35px;
    margin-bottom: 25px;
    padding: 15px;
    font-size: 40px;
    color: darkcyan;
    background-color: none;
    text-align: left;
    text-decoration: none;
    /* border-style: solid; */
    /* border-color: tomato; */
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 35px;
    margin-bottom: 25px;
    padding-top: 35px;
    font-size: 32px;
    color: darkcyan;
    background-color: none;
    text-align: left;
    text-decoration: none;
    /* border-style: solid; */
    /* border-color: tomato; */
}

h4{
	font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 125px;
    /* margin-bottom: 25px; */
    /* padding-top: 35px; */
    /* font-size: 32px; */
    color: darkcyan;
    background-color: none;
    text-align: center;
    text-decoration: none;
}

hr {
    width: 95%;
    margin-left: 5%;
    margin-right: auto;
    /* border-style: solid; */
    /* border-color: tomato; */
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: justify;
    color: gray;
    /* padding: 1px; */
    /* margin-top: 35px; */
    margin-left: 31px;
    /* margin-right: 1px; */
    margin-bottom: 5px;
    padding-bottom: 15px;
    /* padding-right: 1px; */
    /* border: 1px solid black; */
}



#City_Latitude_Max_Temperature{
    margin-left: 31px;
    padding: 0px;
    float:left;
    width: 225px;
    height: 235px;
    /* border-style: solid; */
    /* border-color: turquoise; */

}



img{
    /* height: 100px; */
    width: 144px;
    height: 135px;
    /* border: 55px; */
    /* margin-left: 5px; */
    /* margin-right: 35px; */
    /* padding: 5px; */
/*     border: 1px solid tomato; */
    padding: 4%;


}


/* Two image containers (use 25% for four, and 50% for two, etc) */
.column {
    /* float: left; */
    width: 40%;
    padding: 0px;
/*     border: 1px solid blue; */
	margin: 0px;
	margin-left: 35px;
	
  }
  
/*   /* Clear floats after image containers */
  .row::after {
    /* content: "";
    clear: both;
    display: table; */
    /* border-style: solid; */
    /* border-color: tomato; */
  } */

.column{
    padding-left: 30px;
    padding-right: 50px;
    /* margin-left: 1px; */
    /* margin-right: 1px; */
    /* border-style: solid; */
    /* border-color: tomato; */
}




.data-table{
	background-color: white;
	padding: 5%;
	/* border: 1px solid; */
	margin-top: 1.5%;
}




.img-fluid{
/* 	border: 1px solid; */
	width: 90%;
	margin-left: 7%;
}

.comparison{
/* 	border: 1px solid; */
	width: 120%;
	margin-left: 17%;
	/* border: 1px solid; */
}




.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 25px;
    /* color: white; */
    background-color: darkcyan;
    padding: 10px;
    /* margin: 10px; */
    border: 10px;
    /* border-style: solid; */
    /* border-color: tomato; */
    
}

.navbar-light .navbar-brand {
    color: white;
    margin-left: 11px;
    /* border-style: solid; */
    /* border-color: tomato; */
}

.navbar-light{
    padding: 0px;
    /* border-style: solid; */
    /* border-color: tomato; */
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: gray;
    margin-right: 25px;
    /* border-style: solid; */
    /* border-color: tomato; */
}

