body{
	background-color: gray;
}

article{
	background-color: white;
	margin-top: 15px;
}

h1{
    margin-bottom: 75px;
    font-size: 40px;
    color: darkcyan;
    background-color: none;
    text-align: left;
    text-decoration: none;
}

/* hr {
    width: 60%;margin-left: auto;margin-right: auto;
} */

p{
    font-size: 15px;
}

img{
    /* height: 100px; */
    width: 144px;
	height: 135px;
}


#City_Latitude_Max_Temperature{
    float:left;
}

.col{
	background-color: red;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
	img{
    /* height: 100px; */
    width: 90px;
	height: 135px;
}
  }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }